@import "tailwindcss";

@theme {
  --breakpoint-nx: 481px;
  --color-lightTheme-body: #ececec;
  --color-lightTheme-background: #ffffff;
  --color-lightTheme-text: #141414;
  --color-lightTheme-border: #cdcdcd;
  --color-darkTheme-body: #212121;
  --color-darkTheme-background: #0f0f0f;
  --color-darkTheme-text: #e9e9e9;
  --color-darkTheme-border: #444444;
  --toastify-color-success: theme("colors.red.300");
}

.scrollbar-custom {
  scrollbar-color: #e9e9e9;
}

.scrollbar-custom::-webkit-scrollbar {
  background-color: #191919;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #212121;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #191919;
}
.scrollbar-custom::-webkit-scrollbar-button:start:decrement {
  background-color: #212121;
}

.scrollbar-custom::-webkit-scrollbar-button:end:increment {
  background-color: #212121;
}

@keyframes wobble {
  0% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-1px);
  }

  80% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0);
  }
}

.wobble {
  animation: wobble 0.2s ease-in-out infinite;
}

.tsest {
  color: #212121;
}
